/* src/components/Education.css */
.education {
    padding: 40px 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px; /* Light background for the education section */
}

.education div {
    margin-bottom: 10px;
}


  