/* Experience Section Styling */
.experience {
  background-color: #f7f7f7;
}

h2 {
  text-align: center;
}

.timeline-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.company-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.timeline-content {
  padding: 15px;
  background: white;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-content-list {
  line-height: 1.5;

}
