/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  color: #333;
}


/* Main layout container */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-bottom: 20px;
}

/* Left section for Top 5 Projects and Skills */
.left-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  background-color: #f7f7f7;
  padding: 20px;
}

/* Top and bottom sections within the left section */
.left-top-section,
.left-middle-section {
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
}

/* Right section for Experience */
.right-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
}

/* Responsive adjustment for smaller screens */
@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr; /* Stack sections vertically */
  }

  .left-section {
    order: 3; /* Place left section below the right section */
  }

  .right-section {
    order: 1; /* Place right section above the left section */
  }
}

/* Header, About, Education, Contact sections */
.header {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

/* Header, About, Education, Contact sections */
.about, .education, .contact {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
