steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: npm ci

      - name: Create the build folder
        run: npm run build # This command creates the /build folder

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}'
          channelId: live
          projectId: your-project-id